// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$theme-colors:(
        "primary": #027d7f,
        "secondary": #850b2e,
        "success": #247046,
        "danger":  #C34646,
        "warning":#D9A843,
        "info": #4A8BC0,
        "dark": #0D0C0C,
        "light": #FFFFFF,

);


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
        "lightgray": #EDEDED,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.rotate-icon{
  transition: transform 0.2s ease-in-out;
}

[aria-expanded="true"] .rotate-icon{
  transform: rotate(90deg);
}